.userData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.userData__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.userData__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.userData__label {
    margin-bottom: 5px;
}

.userInventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    height: 500%;
    max-height: 250px;
    background-color: bisque;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.userInventory__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.userInventory__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.userInventory__label {
    margin-bottom: 5px;
}

.userBag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    height: 530%;
    max-height: 400px;
    background-color: bisque;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
    overflow: hidden;
}

.userBag__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.userBag__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.userBag__label {
    margin-bottom: 5px;
}

.userBag__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.userBag__item__name {
    margin-right: 10px;
}

.userBag__item__button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.userBag__item__button:hover {
    background-color: #0056b3;
}

