.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
}

.chatContainer {
  max-width: 300px;
  height: 760px;
  margin: 0 20px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.playerMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 400px;
  padding: 20px;
  position: relative;
  top: 0;
  transform: translateY(0);
  transition: top 0.3s, transform 0.3s;
  margin: 0 auto;
  outline: none;
}

.modal_content__after-open {
  top: 50%;
  transform: translateY(-50%);
}

.modal_content__before_close {
  top: 0;
  transform: translateY(0);
}

.modal_overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn_close {
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
}

.btn_close:hover {
  background-color: #e94e4e;
  color: rgb(255, 255, 255);
}

.btn_add_player {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
}

.btn_add_player:hover {
  background-color: #3e8e41;
  color: rgb(255, 255, 255);
}

.btn_add {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
}

.btn_add:hover {
  background-color: #3e8e41;
  color: rgb(255, 255, 255);
}

.btn_free {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
}

.btn_free:hover {
  background-color: #3e8e41;
  color: rgb(255, 255, 255);
}

.btn_occupied {
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
}

.btn_occupied:hover {
  background-color: #c0392b;
  color: rgb(255, 255, 255);
}

.modal_content h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.modal_content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.modal_content h3 {
  font-size: 20px;
  color: #333;
  margin-top: 16px;
  margin-bottom: 12px;
}

.userPanelContainer {
  max-width: 300px;
  width: 20%;
  height: 760px;
  margin: 0 20px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal_title {
  margin-bottom: 10px;
}

.modal_content {
  margin-bottom: 20px;
}

.modal_form label {
  display: block;
  margin-bottom: 10px;
}

.modal_form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.modal_form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.modal_form button:hover {
  background-color: #45a049;
}
