
.login_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("baner.jpg");
	background-size: cover;
}

.login_form_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	background-color: #ffffff5b;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.left {
	margin-right: 30px;
}

.form_container {
	width: 100%;
}

.form_container h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	background-color: #f1f1f1;
}

.error_msg {
	color: red;
	margin-bottom: 20px;
}

.green_btn {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #28a745;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.green_btn:hover {
	background-color: #218838;
}

.right {
	text-align: center;
}

.right h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.white_btn {
	padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 5px;
	background-color: transparent;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.white_btn:hover {
	background-color: #fff;
	color: #000;
}